<!DOCTYPE html>
<html lang="en">

<head>
    <script defer src="/admin-client.js"></script>
    <link rel="stylesheet" href="/admin.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comms Users</title>
</head>

<body>

    <header>
        <div id="menu-toggle"></div>
        <span>Site administration</span>
    </header>
    <nav class="menu">
        <ul>
            <ul>
                <a href="/admin/users" class="selected_menu">Accounts</a>
                <a href="/admin/meetings">Meetings</a>
                <a href="/admin/forbidden_words">Forbidden Words</a>
            </ul>
        </ul>
    </nav>
    <main>
        <h1>Users</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Verified</th>
                    <th>Banned until <br> MM:DD:YYYY</th>
                    <th colspan="2">Ban options</th>
                </tr>
            </thead>
            <tbody>


                <% for(let user of users) {%>
                    <tr>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.verified %>
                        </td>
                        <td class="banneduntil">
                            <%= !locals.isDateInPast(user.banneduntil) ? locals.formatDate(user.banneduntil) : '-' %>
                        </td>
                        <td><a class="ban" href="<%= `/admin/users/ban/${user.username}/15` %>">15 day ban</a></td>
                        <td><a class="ban" href="<%= `/admin/users/ban/${user.username}/30` %>">30 day ban</a></td> 
                    </tr>
                    <% } %>

            </tbody>
        </table>

    </main>

</body>

</html>